<div class="icon fiesta-icon">
    <svg [attr.width]="18"
         [attr.height]="18">
        <rect [attr.x]="0"
              [attr.y]="0"
              [attr.width]="17"
              [attr.height]="17"
              [attr.stroke]="abState.view.border_color"
              [attr.fill-opacity]="0" />
        <image [attr.x]="1"
               [attr.y]="1"
               [attr.width]="16"
               [attr.height]="16"
               [attr.href]="STATIC_ASSETS + abState.view.icon_file  + '_' + abState.view.icon + '.webp'" />
    </svg>
</div>