@import 'style/var.scss';

.table-wrapper {
    background-color: $table-background;
    min-height: 500px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;

    &>* {
        margin-right: 10px;
    }
}