@use '@angular/material'as mat;
@import "style/colors";
@import "styles.scss";

:host {
    display: block;
    border: 1px solid black;
    color: $yellow3;
    // background-color: $gray9;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.quest-title {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    font-size: 0.9em;
    cursor: pointer;
    background-color: mat.get-color-from-palette($md-fiesta-background, 500);

    .quest-title-col {
        min-width: 0;
        flex: 1;
        display: inline-flex;
        align-items: center;

        .quest-name {
            min-width: 0;
        }
    }

    .quest-level-col {
        display: block;
        text-align: center;
        width: 60px;

        @media (max-width: 550px) {
            display: none !important;
        }
    }

    .quest-exp-col {
        display: block;
        text-align: center;
        width: 130px;

        @media (max-width: 350px) {
            display: none !important;
        }
    }

    .quest-money-col {
        display: block;
        text-align: center;
        width: 150px;

        @media (max-width: 700px) {
            display: none !important;
        }
    }

    .rewards-list-mini {
        display: flex;
        justify-content: space-evenly;
        width: 100px;

        &>div {
            display: flex;
            align-items: center;
        }

        @media (max-width: 850px) {
            display: none !important;
        }
    }
}

.default-quest,
.party,
.expedition {
    color: yellow;
}

.party-epic,
.epic {
    color: rgb(255, 0, 255);
}

.event {
    color: mediumspringgreen;
}

.party::after,
.party-epic::after {
    content: " [Party]";
}

.expedition::after {
    content: " [Expedition]";
}

.quest-description-panel {
    // border: 1px solid black;
    // background-color: $gray8;
    color: white;
    font-size: 0.9em;

    /*@media (max-width: 999px) {
   margin: 3px;
}
@media (min-width: 1000px) {
   margin: 5px 10px 10px 10px;
}*/
}