@import "styles.scss";

.introduction {
    @media (max-width: 999px) {
        margin: 10px 15px;
    }

    @media (min-width: 1000px) {
        margin: 10px 40px;
    }
}

.news {
    @media (max-width: 599px) {
        margin: 20px 0;
    }

    @media (min-width: 600px) {
        margin: 20px 50px;
    }
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.items-wrapper,
.alchemy-wrapper,
.database-wrapper {
    min-width: 100px;
}

.quests-wrapper,
.items-wrapper,
.alchemy-wrapper,
.database-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.items-list,
.alchemy-list,
.database-list,
.sub-quests-list {
    display: flex;
    flex-flow: column wrap;
}

.sub-quests-list {
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.list-item {
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    padding: 3px 11px;
    margin: 4px;
}

.sub-menu-icon {
    position: relative;

    &::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.35em;
        border-color: transparent transparent transparent currentColor;
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
}

.news-editor {
    color: black;
    min-height: 150px;
}