<app-multi-selection [title]="'Rarity'"
                     [value]="value"
                     (valueChange)="onRarityChanged($event)"
                     ngDefaultControl>
    <app-multi-selection-option [value]="0">
        <span [ngStyle]="{ 'color' : (0 | itemGradeColor)}">
            White
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="1">
        <span [ngStyle]="{ 'color' : (1 | itemGradeColor)}">
            Green
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="2">
        <span [ngStyle]="{ 'color' : (2 | itemGradeColor)}">
            Blue
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="3">
        <span [ngStyle]="{ 'color' : (3 | itemGradeColor)}">
            Yellow
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="4">
        <span [ngStyle]="{ 'color' : (4 | itemGradeColor)}">
            Pink
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="5">
        <span [ngStyle]="{ 'color' : (5 | itemGradeColor)}">
            Blue Set
        </span>
    </app-multi-selection-option>
    <app-multi-selection-option [value]="6">
        <span [ngStyle]="{ 'color' : (6 | itemGradeColor)}">
            Orange
        </span>
    </app-multi-selection-option>
</app-multi-selection>