<mat-table [dataSource]="dataSource"
           multiTemplateDataRows>
    <ng-container matColumnDef="icon">
        <mat-header-cell class="table-icon-cell"
                         *matHeaderCellDef></mat-header-cell>
        <mat-cell class="table-icon-cell"
                  *matCellDef="let skill">
            <app-passive-skill-icon [skill]="skill"></app-passive-skill-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell class="table-name-header"
                         *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="table-name-cell"
                  *matCellDef="let skill">
            {{skill.name}}
        </mat-cell>
    </ng-container>

    <!-- Mastery Damage Rate -->

    <ng-container matColumnDef="mastery1HDmgRate">
        <mat-header-cell *matHeaderCellDef>One Hand Sword Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_sword_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryHammerDmgRate">
        <mat-header-cell *matHeaderCellDef>Hammer Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_hammer_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mastery2HDmgRate">
        <mat-header-cell *matHeaderCellDef>Two Hand Sword Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_two_hand_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryAxeDmgRate">
        <mat-header-cell *matHeaderCellDef>Axe Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_axe_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryBowDmgRate">
        <mat-header-cell *matHeaderCellDef>Bow Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_bow_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryCrossbowDmgRate">
        <mat-header-cell *matHeaderCellDef>Crossbow Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_crossbow_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryMaceDmgRate">
        <mat-header-cell *matHeaderCellDef>Mace Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_mace_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryClawDmgRate">
        <mat-header-cell *matHeaderCellDef>Claws Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_claw_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryDSDmgRate">
        <mat-header-cell *matHeaderCellDef>Dual Swords Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_dsword_dmg_rate / 10}}%
        </mat-cell>
    </ng-container>

    <!-- /Mastery Damage Rate -->

    <!-- Mastery Damage Plus -->

    <ng-container matColumnDef="mastery1HDmg">
        <mat-header-cell *matHeaderCellDef>One Hand Sword Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_sword_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryHammerDmg">
        <mat-header-cell *matHeaderCellDef>Hammer Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_hammer_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mastery2HDmg">
        <mat-header-cell *matHeaderCellDef>Two Hand Sword Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_two_hand_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryAxeDmg">
        <mat-header-cell *matHeaderCellDef>Axe Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_axe_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryMaceDmg">
        <mat-header-cell *matHeaderCellDef>Mace Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_mace_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryBowDmg">
        <mat-header-cell *matHeaderCellDef>Bow Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_bow_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryCrossbowDmg">
        <mat-header-cell *matHeaderCellDef>Crossbow Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_crossbow_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryWandDmg">
        <mat-header-cell *matHeaderCellDef>Wand Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_wand_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryStaffDmg">
        <mat-header-cell *matHeaderCellDef>Staff Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_staff_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryClawDmg">
        <mat-header-cell *matHeaderCellDef>Claws Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_claw_dmg}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="masteryDSDmg">
        <mat-header-cell *matHeaderCellDef>Dual Swords Dmg</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mastery_dsword_dmg}}
        </mat-cell>
    </ng-container>

    <!-- /Mastery Damage Plus -->

    <ng-container matColumnDef="evasion">
        <mat-header-cell *matHeaderCellDef>Evasion</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.evasion}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SPIncrease">
        <mat-header-cell *matHeaderCellDef>Increase SP</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.sp_increase}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LPIncrease">
        <mat-header-cell *matHeaderCellDef>Increase Max LP</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.lp_increase}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phyAtkUpRate">
        <mat-header-cell *matHeaderCellDef>Physical Attack Rate Up</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.phy_atk_up_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="magAtkUpRate">
        <mat-header-cell *matHeaderCellDef>Magical Attack Rate Up</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.mag_atk_up_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dmgUpPerHPDown">
        <mat-header-cell *matHeaderCellDef>Dmg/HP Conversion</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            {{skill.dmg_up_per_hp_down / 10}}% Dmg / {{skill.dmg_up_per_hp_down_ratio / 10}}% HP
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="defUpPerHPDown">
        <mat-header-cell *matHeaderCellDef>Def/HP Conversion</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            {{skill.def_up_per_hp_down / 10}}% Def / {{skill.def_up_per_hp_down_ratio / 10}}% HP
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="movementIncreaseEvaUp">
        <mat-header-cell *matHeaderCellDef>Increase Evasion</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.movement_increase_evasion_up}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="healUpRate">
        <mat-header-cell *matHeaderCellDef>Heal Increase Rate</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.heal_up_rate / 10 }}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buffDurationUpRate">
        <mat-header-cell *matHeaderCellDef>Buff Duration Increase Rate</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.buff_duration_up_rate / 10 }}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="critDmgUpRate">
        <mat-header-cell *matHeaderCellDef>Crit. Damage Increase Rate</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            +{{skill.crit_dmg_up_rate / 10 }}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dmgReceiveMinusRate">
        <mat-header-cell *matHeaderCellDef>Damage Reduce</mat-header-cell>
        <mat-cell *matCellDef="let skill">
            -{{skill.dmg_receive_minus_rate / 10}}%
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
        <mat-cell class="mat-sub-row"
                  *matCellDef="let skill">

            <div class="sub-ab-state-effects"
                 *ngIf="skill.passive_ab_state && skill.passive_ab_state.ab_states.length > 0">
                <div *ngFor="let ab_state of skill.passive_ab_state.ab_states"
                     class="ab-state-layout">
                    <app-ab-state class="ab-state"
                                  [abState]="ab_state">

                    </app-ab-state>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
    <mat-row class="detail-row"
             [class.collapsed]="!hasAbStates(row)"
             *matRowDef="let row; columns: ['view']"></mat-row>
</mat-table>