<div class="icon fiesta-icon">
    <svg width="32"
         height="32">
        <defs>
            <filter [attr.id]="passiveSkill.id + 'colorbalance'">
                <feColorMatrix type="matrix"
                               [attr.values]="colorMatrix" />
            </filter>
        </defs>
        <!-- let <image> height and width or it won't show the image on first draw in chrome -->
        <image height="32"
               width="32"
               [attr.filter]="'url(\'#' + passiveSkill.id + 'colorbalance' + '\')'"
               [attr.href]="STATIC_ASSETS + skillView.icon_file  + '_' + skillView.icon_index + '.webp'" />
    </svg>
</div>