.card-tooltip {
   max-width: 200px;
   padding: 3px;

   h1 {
      font-size: 1.2em;
   }

   h2 {
      font-size: 1em;
   }

   & > div:not(:first-child):not(:last-child) {
      margin: 10px 0;
   }
}

.card-description {
   text-align: center;
}