<app-skill-tooltip [skill]="skill"></app-skill-tooltip>

<div class="passive-skill-card section">
    <h3 class="h2-header">Skill modifier set effect</h3>
    <mat-accordion class="example-headers-align"
                   multi>

        <!--<div *ngFor="let effect of setEffects">
        <div *ngIf="(effect.item_set | async) as itemSet">
            <div *ngFor="let itemAction of effect.item_actions | async">
                <div *ngIf="skill.groups_id.includes(itemAction.condition.skill_group.id)">
                    [{{effect.count}}-pieces] {{itemAction | itemActionEffect}}
                </div>
            </div>
            <ng-container *ngIf="(itemSet.set_items | async) as setItems">
            <div *ngFor="let item of setItems">
                <app-item [item]="item"></app-item>
            </div>
        </ng-container>
        </div>
    </div>-->

        <ng-container *ngFor="let itemAction of itemActions | keyvalue">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{itemAction.value.action | itemActionEffectGroup}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <ng-container *ngFor="let effect of itemAction.value.effects">
                        <ng-container *ngIf="(effect.item_set | async) as itemSet">
                            [{{itemSet.set_name}}] [{{effect.count}}-pieces] {{itemAction.value.action | itemActionEffect}}
                            <ng-container *ngIf="(itemSet.set_items | async) as setItems">
                                <div *ngFor="let item of setItems">
                                    <app-item [item]="item"></app-item>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-template>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>