<div>
    <p class="logged-menu">
        Welcome {{ username }} ! <button mat-raised-button
                color="warn"
                (click)="onLogout()">Logout</button>
    </p>
</div>
<div class="menu">
    <a [routerLink]="['/admin/premium']"><b>Premium</b></a>
    <a [routerLink]="['/admin/mobs']"><b>Mobs</b></a>
</div>