// generated from https://palx.jxnblk.com/0f16b0.scss

$base: #0f16b0;
$black: #3d3e4e;
$gray0: #f9f9fa;
$gray1: #ededef;
$gray2: #e0e0e4;
$gray3: #d2d2d8;
$gray4: #c2c3ca;
$gray5: #b1b2bc;
$gray6: #9e9eab;
$gray7: #878797;
$gray8: #696a7d;
$gray9: #3d3e4e;
$gray10: #2a2a35;
$indigo0: #eaebf8;
$indigo1: #d3d5f0;
$indigo2: #b9bbe8;
$indigo3: #989cdd;
$indigo4: #6d72cf;
$indigo5: #0f17b0;
$indigo6: #0d149d;
$indigo7: #0b1188;
$indigo8: #090e6f;
$indigo9: #06094b;
$violet0: #f0eaf8;
$violet1: #dfd2f0;
$violet2: #ccb7e7;
$violet3: #b596dc;
$violet4: #9669cd;
$violet5: #570fb0;
$violet6: #4e0d9e;
$violet7: #430b89;
$violet8: #370970;
$violet9: #26064d;
$fuschia0: #f7e9f8;
$fuschia1: #eed1f0;
$fuschia2: #e4b6e7;
$fuschia3: #d894db;
$fuschia4: #c867cd;
$fuschia5: #a80fb0;
$fuschia6: #970d9e;
$fuschia7: #840b8a;
$fuschia8: #6d0972;
$fuschia9: #4d0651;
$pink0: #f8e9f1;
$pink1: #f0d2e2;
$pink2: #e7b6d1;
$pink3: #dc95bc;
$pink4: #cd68a0;
$pink5: #b00f68;
$pink6: #9e0d5d;
$pink7: #8a0b52;
$pink8: #720943;
$pink9: #51062f;
$red0: #f8eaea;
$red1: #f0d2d4;
$red2: #e7b7ba;
$red3: #dc969a;
$red4: #ce6a6f;
$red5: #b00f17;
$red6: #9e0d14;
$red7: #8a0b12;
$red8: #72090e;
$red9: #51060a;
$orange0: #f6ede5;
$orange1: #edd9c9;
$orange2: #e2c2a8;
$orange3: #d6a883;
$orange4: #c68753;
$orange5: #b0570f;
$orange6: #9e4e0d;
$orange7: #8a440b;
$orange8: #713809;
$orange9: #502706;
$yellow0: #f5f4e0;
$yellow1: #eae8bf;
$yellow2: #dedb9b;
$yellow3: #d1cc73;
$yellow4: #c1bb45;
$yellow5: #b0a80f;
$yellow6: #9f970d;
$yellow7: #8b850b;
$yellow8: #736e09;
$yellow9: #524f07;
$lime0: #ecf5e1;
$lime1: #d8eac2;
$lime2: #c2df9e;
$lime3: #a9d276;
$lime4: #8cc248;
$lime5: #68b00f;
$lime6: #5d9f0d;
$lime7: #528b0b;
$lime8: #447309;
$lime9: #305207;
$green0: #e5f6e4;
$green1: #c9ecc7;
$green2: #a9e1a6;
$green3: #84d580;
$green4: #56c550;
$green5: #17b00f;
$green6: #149f0d;
$green7: #128b0b;
$green8: #0f7309;
$green9: #0a5207;
$teal0: #e4f6ec;
$teal1: #c6ecd7;
$teal2: #a5e1c0;
$teal3: #7ed4a4;
$teal4: #4ec483;
$teal5: #0fb057;
$teal6: #0d9f4e;
$teal7: #0b8b44;
$teal8: #097339;
$teal9: #075228;
$cyan0: #e3f6f5;
$cyan1: #c5ecea;
$cyan2: #a3e0dd;
$cyan3: #7cd4cf;
$cyan4: #4dc4be;
$cyan5: #0fb0a8;
$cyan6: #0d9f97;
$cyan7: #0b8b85;
$cyan8: #09736e;
$cyan9: #07524f;
$blue0: #e6eff6;
$blue1: #cadeed;
$blue2: #abcae3;
$blue3: #85b2d7;
$blue4: #5694c7;
$blue5: #0f68b0;
$blue6: #0d5d9e;
$blue7: #0b518a;
$blue8: #094271;
$blue9: #062e4f;

$md-fiesta-primary: (
    50 : #ededef,
    100 : #d2d2d8,
    200 : #b4b5be,
    300 : #9697a4,
    400 : #808091,
    500 : #696a7d,
    600 : #616275,
    700 : #56576a,
    800 : #4c4d60,
    900 : #3b3c4d,
    A100 : #a6abfe,
    A200 : #747bfd,
    A400 : #3f4aff,
    A700 : #2531ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-fiesta-background: (
   50 : #e3e3e3,
   100 : #b8b8b8,
   200 : #898989,
   300 : #5a5a5a,
   350 : #242424,
   400 : #363636,
   500 : #131313,
   600 : #111111,
   700 : #0e0e0e,
   800 : #0b0b0b,
   900 : #060606,
   A100 : #ff4e4e,
   A200 : #ff1b1b,
   A400 : #e70000,
   A700 : #ce0000,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #ffffff,
       400 : #ffffff,
       500 : #ffffff,
       600 : #ffffff,
       700 : #ffffff,
       800 : #ffffff,
       900 : #ffffff,
       A100 : #000000,
       A200 : #ffffff,
       A400 : #ffffff,
       A700 : #ffffff,
   )
);


$md-fiesta-accent: (
   50 : #f7f7f7,
   100 : #ebebeb,
   200 : #dddddd,
   300 : #cfcfcf,
   400 : #c5c5c5,
   500 : #bbbbbb,
   600 : #b5b5b5,
   700 : #acacac,
   800 : #a4a4a4,
   900 : #969696,
   A100 : #ffffff,
   A200 : #ffffff,
   A400 : #ffcfcf,
   A700 : #ffb6b6,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #000000,
       400 : #000000,
       500 : #000000,
       600 : #000000,
       700 : #000000,
       800 : #000000,
       900 : #000000,
       A100 : #000000,
       A200 : #000000,
       A400 : #000000,
       A700 : #000000,
   )
);
