@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "colors";

// Store category chip color

.store-category-tag-time {
   background-color: #c7ca26 !important;
}

.store-category-tag-stats {
   background-color: #197dac !important;
}

.store-category-tag-slot {
   background-color: #19ac51 !important;
}

.store-category-tag-designer {
   background-color: #bb1a3d !important;
}

// Store item image

.store-item-view-layout {
   display: flex;
   flex-direction: column;
}

.store-item-view {
   margin: 10px;
   color: white;
   border: 1px solid black;

   h3 {
      padding: 7px;
      text-align: center;
      background-color: mat.get-color-from-palette($md-fiesta-background, 500);
   }
}

.store-item-view-content {
   padding: 5px 5px;
   background-color: mat.get-color-from-palette($md-fiesta-background, 300);

   .store-item-view-image {
      width: 300px;
      height: 200px;
   }

   .small-store-item-view-image {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: mat.get-color-from-palette($md-fiesta-background, 200);

      img {
         border: 1px solid black;
      }
   }

   .store-item-view-col-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .store-item-view-col-2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;

      & > * {
         margin: 3px 0;
      }
   }
}

.store-item {
   display: flex;
   flex-direction: column;

   .store-item-row-1 {
      display: flex;
      align-items: center;
      background-color: mat.get-color-from-palette($md-fiesta-background, 200);
      font-size: 0.9em;
      margin: 2px 0;
      padding: 2px 4px;

      .store-item-name {
         flex: 1;
      }

      & > * {
         margin: 2px;
      }
   }
}

.store-item-category-chip {
   font-size: 0.8em;
   min-height: 20px !important;
   border-radius: 10px !important;
   padding: 7px !important;
}
