<!--
<div class="contact-wrapper">
   <div class="contact-container">
      <h3>Contacts</h3>
      <mat-divider></mat-divider>
      <div class="contact-list">
         <div class="logo-label">
            <mat-icon>discord</mat-icon> 
            <span class="site-name">Discord</span>
         </div>
      </div>
   </div>
</div>
-->

<div class="site-logo logo-label">
   <mat-icon svgIcon="site-icon"></mat-icon>
   <span class="site-name"><b>Fiesta Wiki</b></span>
</div>