@import "style/colors.scss";
@import "style/var.scss";

:host {
   display: block;
   background-color: $top-menu-color;
   color: white;
   width: 100%;
   margin-top: 50px;
}

.contact-wrapper {
   display: flex;
   flex-direction: row-reverse;
}

.contact-container {
   margin-right: 200px;
   width: 200px;

   h3 {
      margin-bottom: 5px;
   }
}

.contact-list {
   margin-top: 5px;
   & > * {
      margin-top: 5px;
      margin-bottom: 5px;
   }
}

.logo-label {
   display: flex;
   align-items: center;

   .site-name {
      margin-left: 5px;
   }
}

.site-logo {
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 1.5em;
   .mat-icon {
      height: 1.5em !important;
      width: 1.5em !important;
   }
}