@use '@angular/material' as mat;
@import 'styles.scss';

:host {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.dialog-content {
   flex: 1;
}

form {
   display: flex;
   flex-direction: column;
}

.image-list {
   display: flex;
   flex-direction: column;

   & > div {
      display: flex;
   }
   
   .add-input-button {
      align-self: flex-end;
      background-color: mat.get-color-from-palette($md-fiesta-background, 200) !important;
   }
}
