@use '@angular/material' as mat;
@import 'styles.scss';

.table-wrapper {
    background-color: $table-background;
    min-height: 500px;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background: #777 !important;
}

.detail-row {
    overflow: hidden;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.detail-cell {
    padding: 20px !important;
}