<app-page-header [title]="'Licenses'">
</app-page-header>

<div class="page-content">
    <mat-paginator [pageIndex]="page.number"
                   [length]="page.totalElements"
                   [pageSize]="page.size"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>

    <div class="table-wrapper">
        <app-page-loader [status]="loadingErr">

            <mat-table [dataSource]="dataSource"
                       multiTemplateDataRows>

                <ng-container matColumnDef="icon">
                    <mat-header-cell class="table-icon-cell"
                                     *matHeaderCellDef>
                    </mat-header-cell>
                    <mat-cell class="table-icon-cell"
                              *matCellDef="let license">
                        <app-item-icon [item]="license.item">
                        </app-item-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell class="table-name-header"
                                     *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell class="table-name-cell"
                              *matCellDef="let license">
                        {{license.item.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="killCount">
                    <mat-header-cell *matHeaderCellDef>Kill Count</mat-header-cell>
                    <mat-cell *matCellDef="let license">
                        {{license.levels[license.levels.length - 1].mob_kill_count}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="damage">
                    <mat-header-cell *matHeaderCellDef>Damage</mat-header-cell>
                    <mat-cell *matCellDef="let license">
                        {{license.levels[license.levels.length - 1].dmg_ratio / 10 | number: '1.1-1'}}%
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="crit">
                    <mat-header-cell *matHeaderCellDef>Crit</mat-header-cell>
                    <mat-cell *matCellDef="let license">
                        {{license.levels[license.levels.length - 1].crit_ratio / 10 | number: '1.1-1'}}%
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="detail">
                    <mat-header-cell *matHeaderCellDef>Detail</mat-header-cell>
                    <mat-cell *matCellDef="let license"
                              class="detail-cell"
                              fxLayout="column"
                              fxLayoutGap="10px">
                        <ng-container *ngIf="expanded_element == license">
                            <app-mob-portrait [mob]="license.species.mobs[0] | async"
                                              [showName]="true">
                            </app-mob-portrait>

                            <app-table-info fxFill
                                            [data]="license.levels">
                            </app-table-info>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         class="clickable-row"
                         (click)="expanded_element = expanded_element === row ? null : row">
                </mat-row>

                <mat-row *matRowDef="let row; columns: ['detail'];"
                         [@detailExpand]="row == expanded_element ? 'expanded' : 'collapsed'"
                         class="detail-row">
                </mat-row>
            </mat-table>

        </app-page-loader>
    </div>

    <mat-paginator [pageIndex]="page.number"
                   [length]="page.totalElements"
                   [pageSize]="page.size"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>
</div>