:host {
   position: relative;
   display: inline-block;
}

svg {   
   vertical-align: top;
}

.card-title {
   position: absolute;
   bottom: -6px;
   right: 50%;

   .card-title-svg {
      position: relative;
      left: 12px;
   }
}

.title { font-size: 13px sans-serif; color: white; }