<app-page-header [title]="pageTitle">
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">

    <h2 class="h2-header">S Rank Cards</h2>
    <div class="card-layout">
        <div class="card"
             *ngFor="let c of cardsS">
            <a [routerLink]="'./' + c.id">
                <app-collection-card [card]="c"></app-collection-card>
            </a>
        </div>
    </div>

    <h2 class="h2-header">A Rank Cards</h2>
    <div class="card-layout">
        <div class="card"
             *ngFor="let c of cardsA">
            <a [routerLink]="'./' + c.id">
                <app-collection-card [card]="c"></app-collection-card>
            </a>
        </div>
    </div>

    <h2 class="h2-header">B Rank Cards</h2>
    <div class="card-layout">
        <div class="card"
             *ngFor="let c of cardsB">
            <a [routerLink]="'./' + c.id">
                <app-collection-card [card]="c"></app-collection-card>
            </a>
        </div>
    </div>

    <h2 class="h2-header">C Rank Cards</h2>
    <div class="card-layout">
        <div class="card"
             *ngFor="let c of cardsC">
            <a [routerLink]="'./' + c.id">
                <app-collection-card [card]="c"></app-collection-card>
            </a>
        </div>
    </div>

</app-page-loader>