@import "style/colors.scss";
@import "style/var.scss";

.main-body {
   flex: 1;
   margin: auto;
   margin-top: 60px;
   border: solid 2px black;
   background-color: rgba($color: #ffffff, $alpha: 0.8);
   box-sizing: border-box;
}

@media (max-width: 999px) {
   .main-body {
      width: 100%;
   }

}
@media (min-width: 1000px) {
   .main-body {
      width: $main-body-width;
   }
}

.sidenav-container {
   flex: 1;
}

.sidenav-panel {
   position: fixed;
   background-color: $top-menu-color;
   min-width: 250px;
   margin-top: $top-menu-height;

   ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
   }

   ul {
      padding-left: 20px;
   }

   .mat-tree-node {
      cursor: pointer;
      align-items: stretch;
   }
}

.node-link {
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1;
}

.expand-icon {
   align-self: center;
   padding: 5px;
}

.invisible-node {
   display: none;
}