<app-page-header [title]="PAGE_TITLE">
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">
    <div class="table-wrapper">
        <mat-table [dataSource]="dataSource"
                   multiTemplateDataRows>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let t">
                    {{ t.title }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fame">
                <mat-header-cell *matHeaderCellDef>
                    <span>
                        Fame
                        <mat-icon class="help-icon"
                                  inline="true"
                                  matTooltip="Fame acquired when unlocking title">
                            help
                        </mat-icon>
                    </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let t">
                    {{ t.fame }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="stats">
                <mat-header-cell *matHeaderCellDef>Stats</mat-header-cell>
                <mat-cell class="stats-col"
                          *matCellDef="let t">
                    <div fxLayout="column">
                        <span class="stat"
                             *ngFor="let s of t.stats">
                            {{s.descript}}
                        </span>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="view">
                <mat-cell class="mat-sub-row"
                          *matCellDef="let t">
                    <div *ngIf="t.view && t.view.description"
                         [innerHTML]="t.view.description | printf:t.value">
                    </div>
                    <div class="card-description"
                         *ngIf="t.card">
                        <a [routerLink]="['/' + ROUTES.cards + '/' + t.card.id]">
                            <app-collection-card class="card-image"
                                                 [card]="t.card">
                            </app-collection-card>
                        </a>
                        {{ t.card.view.name }}
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     class="clickable-row"
                     (click)="expandedElement = expandedElement === row ? null : row">
            </mat-row>
            <mat-row *matRowDef="let element; columns: ['view']"
                     class="detail-row"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            </mat-row>

        </mat-table>
    </div>

</app-page-loader>