@use '@angular/material'as mat;
@import "styles.scss";
@import "style/colors.scss";
@import "style/var.scss";

.table-wrapper {
    background-color: $table-background;
}

.stat {
    text-align: center;
    margin: 5px 0;
}

.detail-row {
    overflow: hidden;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background: #777 !important;
}

.card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    a {
        display: flex;
    }
}

.card-image {
    margin: 10px;
}