<div class="alert alert-warning"
     role="alert"
     *ngIf="error">{{ error }}</div>

<mat-form-field class="example-form-field"
                appearance="fill">
    <mat-label>Nif</mat-label>
    <input matInput
           type="text"
           [(ngModel)]="file"
           (ngModelChange)="fetch($event)">
</mat-form-field>

<canvas oncontextmenu="event.preventDefault()"
        #canvas></canvas>