@use '@angular/material'as mat;
@import "styles.scss";
@import "style/colors";

.skills-card {
    display: flex;
    flex-wrap: wrap;
}

.active-skill-card,
.passive-skill-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-sizing: border-box;
}

.active-skill-card {
    flex: 1;
}

.skills-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
    padding: 5px;
}

.skill {
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: mat.get-color-from-palette($md-fiesta-background, 200);
    }
}

.skill-selected {
    background-color: mat.get-color-from-palette($md-fiesta-background, 300);
}

@media (min-width: 800px) {
    .passive-skill-card {
        max-width: 200px;
        margin-left: 0;
    }
}

@media (max-width: 799px) {
    .skills-card {
        flex-direction: column;
    }

    .passive-skill-card {
        flex: 1;
    }
}