<div class="icon fiesta-icon">
    <svg [attr.width]="iconSize"
         [attr.height]="iconSize">
        <image [attr.href]="STATIC_ASSETS + 'mob-portraits/' + mobPortrait + '.webp'"
               [attr.x]="1"
               [attr.y]="1"
               [attr.width]="iconSize - 2"
               [attr.height]="iconSize - 2" />
        <circle class="portrait-contour"
                [attr.cx]="iconSize / 2"
                [attr.cy]="iconSize / 2"
                [attr.r]="(iconSize - 2) / 2"
                stroke-width="2"
                [attr.fill-opacity]="0" />
    </svg>
</div>