@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "style/colors.scss";

@include mat.core();

$fiesta-app-primary: mat.define-palette($md-fiesta-primary);
$fiesta-app-accent: mat.define-palette($md-fiesta-accent, 100);
$fiesta-background-color: map_get($md-fiesta-background, 500);
$fiesta-app-warn: mat.define-palette(mat.$red-palette);

$fiesta-app-theme: mat.define-dark-theme($fiesta-app-primary, $fiesta-app-accent, $fiesta-app-warn);

// Insert custom background color
$background: map-get($fiesta-app-theme, background);
$background: map_merge($background,
    (background: $fiesta-background-color,
    ));
$fiesta-app-theme: map_merge($fiesta-app-theme,
    (background: $background,
    ));

@include mat.all-component-themes($fiesta-app-theme);

.mat-sort-header-container {
    justify-content: center;
}

.mat-paginator-container {
    min-height: 40px !important;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
    padding-left: 0 !important;
}

.mat-cell:last-of-type,
.mat-footer-cell:last-of-type,
.mat-header-cell:last-of-type {
    padding-right: 0 !important;
}

.mat-focused .mat-form-field-label {
    color: $yellow3 !important;
}

.mat-focused .mat-form-field-ripple {
    background-color: $yellow3 !important;
}

.mat-drawer-container {
    display: flex !important; // for chrome
    background-color: transparent !important;
    overflow: visible !important; // Avoid sticky elements in pages to be hidden
}

.mat-drawer-content {
    display: flex !important;
    flex-direction: column;
    height: auto !important; // for chrome
    flex: 1; // for chrome
}

.mat-drawer {
    background-color: mat.get-color-from-palette($md-fiesta-background, 500);
}

.mat-expansion-panel {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}