@import "styles.scss";
@import "style/fiesta-colors.scss";

.item-tooltip {
   max-width: 500px;
   
   & > div:not(:first-child):not(:last-child) {
      margin: 10px 0;
   }
}

.description {
   margin-top: 8px;
   min-width: 200px;
   width: min-content;
}

.set-effect {
   .set-name {
      margin-top: 8px;
      margin-bottom: 8px;
      color: $blue-set-item;
   }

   .effect-description {
      margin-top: 8px;
   }
}

.level-range {
   color: $item-additional-info;
}

.skill-icons {
   display: flex;
}