@use '@angular/material'as mat;
@import 'styles.scss';

:host {
    display: flex;
    align-items: center;
}

.picture-frame {
    display: inline-flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-color: mat.get-color-from-palette($md-fiesta-background, 500);
    padding: 25px 25px 3px 25px;

    img {
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }
}

.picture-description {
    margin-top: 3px;
    font-size: 0.9em;
}