<app-page-header [title]="'Questing Tool'">
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">
    <div *ngIf="levelData">
        <div *ngFor="let quest of levelData.quests">
            <app-quest [quest]="quest"></app-quest>
        </div>
    </div>
</app-page-loader>