@use '@angular/material'as mat;
@import 'styles.scss';

ul {
    list-style-type: square;

    li {
        margin: 8px 5px;
    }
}

.capsule-page {
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
    padding-top: 20px;
}

.capsule-selector-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
}

.capsule-selector-block {
    display: flex;
    align-items: center;
    background-color: mat.get-color-from-palette($md-fiesta-background, 500);
    margin: 5px 5px;
    padding: 15px 10px;
    cursor: pointer;
    width: 210px;

    .capsule-selector-col-2 {
        margin-left: 5px;
    }

    .capsule-price {
        font-size: 0.8em;
        font-weight: 300;
    }
}

.active-link,
.capsule-selector-block:hover {
    background-color: mat.get-color-from-palette($md-fiesta-background, 200);
}

.capsule-reward-block {
    display: flex;
    flex-direction: row;
    min-height: 700px;
    padding-bottom: 20px;
}

.spanning-block {
    flex: 1;
    background-color: mat.get-color-from-palette($md-fiesta-background, 400);
}

.capsule-reward-list {
    background-color: rgba(0, 0, 0, 0.85);
    width: 500px;
    border: 10px solid mat.get-color-from-palette($md-fiesta-background, 500);
}

.capsule-reward-row {
    display: flex;
    align-items: center;

    .capsule-reward-item {
        flex: 1;
    }

    &>* {
        margin: 5px;
    }
}

.group-rate {
    margin: 10px;
    text-align: right;
    font-weight: 500;
    font-size: 1.1em;
}