@use '@angular/material'as mat;
@import "style/colors.scss";
@import "style/var.scss";

:host {
    display: block;
    // background-color: $gray10;
    // background-color: mat.get-color-from-palette($md-fiesta-background, 300);
    background-color: mat.get-color-from-palette($md-fiesta-background, 350);

    @media (max-width: 999px) {
        margin: 20px 0;
        padding: 10px 3px;
    }

    @media (min-width: 1000px) {
        margin: 20px;
        padding: 10px 20px;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $yellow3;
}

.quest-entry {
    margin: 4px 0;
}

.quest-header {
    display: flex;
    color: $yellow3;
    padding: 4px 10px;
    text-align: center;
    font-size: 0.9em;

    .header-title {
        flex: 1;
    }

    .header-level {
        width: 60px;
        display: block;

        @media (max-width: 550px) {
            display: none !important;
        }
    }

    .header-exp {
        width: 130px;
        display: block;

        @media (max-width: 350px) {
            display: none !important;
        }
    }

    .header-money {
        width: 150px;
        display: block;

        @media (max-width: 700px) {
            display: none !important;
        }
    }

    .header-reward {
        width: 100px;
        display: block;

        @media (max-width: 850px) {
            display: none !important;
        }
    }
}