@import "styles.scss";

.icon {
  height: 100%;
  background-color: black;
  border: 1px solid white;
  box-sizing: border-box;
}

.exp {
  background-image: url('/assets/exp_icon.png');
}

.money {
  background-image: url('/assets/money_icon.png');
}

.fame {
  background-image: url('/assets/fame_icon.png');
}
