<ng-container *ngIf="categories">
   <form [formGroup]="searchItemForm">

      <div class="search-block">
         <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput [formControl]="searchControl">
            <mat-icon matSuffix>search</mat-icon>
         </mat-form-field>
         <button mat-flat-button color="accent" (click)="onFilter()">
            Search
         </button>
      </div>

      <mat-divider></mat-divider>

      <mat-selection-list [formControl]="selectedSlotCategoriesControl">
         <div mat-subheader>Slot</div>
         <mat-list-option *ngFor="let c of slotCategories" [value]="c.id">
            {{c.name}}
         </mat-list-option>
         <div class="filter-button">
            <button 
               mat-flat-button color="accent"
               (click)="onFilter()"
               >
               Filter
            </button>
         </div>
      </mat-selection-list>

      <mat-divider></mat-divider>

      <mat-selection-list [formControl]="selectedStatCategoriesControl">
         <div mat-subheader>Stat</div>
         <mat-list-option *ngFor="let c of statCategories" [value]="c.id">
            {{c.name}}
         </mat-list-option>
         <div class="filter-button">
            <button mat-flat-button color="accent" (click)="onFilter()">
               Filter
            </button>
         </div>
      </mat-selection-list>

      <mat-divider></mat-divider>

      <mat-selection-list [formControl]="selectedDurationCategoriesControl">
         <div mat-subheader>Duration</div>
         <mat-list-option *ngFor="let c of timeCategories" [value]="c.id">
            {{c.name}}
         </mat-list-option>
         <div class="filter-button">
            <button mat-flat-button color="accent" (click)="onFilter()">
               Filter
            </button>
         </div>
      </mat-selection-list>

      <mat-divider></mat-divider>

      <mat-selection-list [formControl]="selectedDesignerCategoriesControl">
         <div mat-subheader>Designer</div>
         <mat-list-option *ngFor="let c of designerCategories" [value]="c.id">
            {{c.name}}
         </mat-list-option>
         <div class="filter-button">
            <button *ngIf="selectedDesignerCategoriesControl.value.length > 0" mat-flat-button color="accent"
               (click)="onFilter()">
               Filter
            </button>
         </div>
      </mat-selection-list>
   </form>
</ng-container>