<app-page-header [title]="pageTitle">
    <div>
        <app-class-combobox class="class-combo"
                            [defaultValue]="filteredClass"
                            (classSelected)="onClassChange($event)">
        </app-class-combobox>
        <button mat-flat-button
                color="accent"
                (click)="onFilter()">
            Filter
        </button>
    </div>
    <div fxLayout="row wrap"
         fxLayoutAlign="start center">
        <mat-form-field class="level-input">
            <input matInput
                   [formControl]="levelFormControl"
                   class="fiesta-input"
                   type="number"
                   placeholder="Level"
                   [value]="level"
                   (input)="level = $event.target.value">
            <mat-error *ngIf="levelFormControl.errors?.min">
                Min level : {{ tierMinLevel }}
            </mat-error>
            <mat-error *ngIf="levelFormControl.errors?.max">
                Max level : {{ maxLevel }}
            </mat-error>
        </mat-form-field>
        <button mat-flat-button
                [disabled]="levelFormControl.invalid"
                mat-flat-button
                color="accent"
                (click)="onLevelChange()">
            Apply
        </button>
        <span style="white-space: nowrap; margin-left: 4px">Total available skill points : {{totalSkillPoints}}</span>
    </div>
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">
    <div class="skill-page content-block">

        <app-skill-list [activeSkills]="activeSkillList"
                        [passiveSkills]="passiveSkillList">
        </app-skill-list>

        <div *ngIf="selectedSkills.type == 'active'">
            <div fxLayout="row"
                 fxLayoutAlign="center center">
                <!--<app-skill-info [useClass]="filteredClass" [skill]="selectedSkills.skills[0]"></app-skill-info>-->

                <div fxLayout="column"
                     fxLayoutAlign="center center"
                     *ngIf="selectedSkills.type == 'active'">
                    <div>
                        Skill points : {{skillPoints}}
                    </div>
                    <div fxLayout="row wrap"
                         class="empowerment-row">
                        <div fxLayout="row">
                            <div class="empowerment-container">
                                <div class="empowerment-controls">

                                    <button mat-icon-button
                                            (click)="onEmpowerDown(0)">
                                        <mat-icon>remove</mat-icon>
                                    </button>

                                    <div class="empowerment-icon power"
                                         matTooltip="Power"></div>

                                    <button mat-icon-button
                                            (click)="onEmpowerUp(0)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <svg width="60"
                                         height="12">
                                        <filter id="inactive">
                                            <feColorMatrix type="matrix"
                                                           [attr.values]="inactiveColorMatrix" />
                                        </filter>
                                        <circle *ngFor="let key of powerUpgrade; let i = index"
                                                class="upgrade power-upgrade"
                                                [attr.cx]="6 + i * 12"
                                                [attr.filter]="(key == 0) ? 'url(#inactive)' : ''"
                                                cy="6"
                                                r="5" />
                                    </svg>
                                </div>
                            </div>

                            <div class="empowerment-container">
                                <div class="empowerment-controls">
                                    <button mat-icon-button
                                            (click)="onEmpowerDown(1)">
                                        <mat-icon>remove</mat-icon>
                                    </button>

                                    <div class="empowerment-icon sp"
                                         matTooltip="SP Consumption"></div>

                                    <button mat-icon-button
                                            (click)="onEmpowerUp(1)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <svg width="60"
                                         height="12">
                                        <circle *ngFor="let key of spUpgrade; let i = index"
                                                class="upgrade sp-upgrade"
                                                [attr.cx]="6 + i * 12"
                                                [attr.filter]="(key == 0) ? 'url(#inactive)' : ''"
                                                cy="6"
                                                r="5" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div class="empowerment-container">
                                <div class="empowerment-controls">

                                    <button mat-icon-button
                                            (click)="onEmpowerDown(2)">
                                        <mat-icon>remove</mat-icon>
                                    </button>

                                    <div class="empowerment-icon duration"
                                         matTooltip="Duration">
                                    </div>

                                    <button mat-icon-button
                                            (click)="onEmpowerUp(2)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <svg width="60"
                                         height="12">
                                        <circle *ngFor="let key of durationUpgrade; let i = index"
                                                class="upgrade duration-upgrade"
                                                [attr.filter]="(key == 0) ? 'url(#inactive)' : ''"
                                                [attr.cx]="6 + i * 12"
                                                cy="6"
                                                r="5" />
                                    </svg>
                                </div>
                            </div>

                            <div class="empowerment-container">
                                <div class="empowerment-controls">

                                    <button mat-icon-button
                                            (click)="onEmpowerDown(3)">
                                        <mat-icon>remove</mat-icon>
                                    </button>

                                    <div class="empowerment-icon cooldown"
                                         matTooltip="Cooldown"></div>

                                    <button mat-icon-button
                                            (click)="onEmpowerUp(3)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <svg width="60"
                                         height="12">
                                        <circle *ngFor="let key of cooldownUpgrade; let i = index"
                                                class="upgrade cooldown-upgrade"
                                                [attr.cx]="6 + i * 12"
                                                [attr.filter]="(key == 0) ? 'url(#inactive)' : ''"
                                                cy="6"
                                                r="5" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-active-skill-tiers [skillList]="selectedSkills.skills">
            </app-active-skill-tiers>
        </div>
        <div *ngIf="selectedSkills.type == 'passive'">
            <app-passive-skill-tiers [skillList]="selectedSkills.skills">
            </app-passive-skill-tiers>
        </div>
    </div>
</app-page-loader>