<app-page-header [title]="'Admin | Premium items'">
</app-page-header>

<app-page-loader class="page-content"
                 [status]="loadingErr">

    <div class="top-ribbon">
        <button mat-raised-button
                (click)="onCreateStoreItemView()">
            Create Item
        </button>

        <button mat-raised-button
                (click)="onCreateItemCategory()">
            Create Item Category
        </button>
    </div>

    <ng-container *ngIf="categories">
        <mat-chip-list class="categories-preview">
            <mat-chip [ngClass]="{
               'store-category-tag-time': c.type == 0,
               'store-category-tag-stats': c.type == 1,
               'store-category-tag-slot': c.type == 2,
               'store-category-tag-designer': c.type == 3
            }"
                      *ngFor="let c of categories"
                      [removable]="true"
                      (click)="onEditItemCategory(c)"
                      (removed)="onDeleteItemCategory(c)">
                {{c.name}}
                <mat-icon matChipRemove>delete</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </ng-container>

    <ng-container *ngIf="page">
        <mat-paginator [hidePageSize]="true"
                       [pageIndex]="page.number"
                       [length]="page.totalElements"
                       [pageSize]="page.size"
                       (page)="onPageChange($event)">
        </mat-paginator>

        <div class="store-item-view-layout">
            <div class="store-item-view"
                 *ngFor="let itemView of items">
                <div class="store-item-view-content">
                    <div class="store-item-view-col-1">
                        <h3>
                            {{itemView.name}}
                        </h3>
                        <div class="store-item-view-image">
                            <ng-container *ngIf="itemView.image_previews && itemView.image_previews.length; else iconImage">
                                <div class="store-item-image-preview"
                                     [ngStyle]="{'background-image' : 'url(' + STATIC_ASSETS + 'store-items/' + itemView.image_previews[0].filename + ')'}">
                                </div>
                            </ng-container>

                            <ng-template #iconImage>
                                <div class="small-store-item-view-image">
                                    <img [src]="STATIC_ASSETS + 'store-items/' + itemView.icon">
                                </div>
                            </ng-template>
                        </div>
                        <div class="store-item-view-edition-layout">
                            <button mat-raised-button
                                    (click)="onEditStoreItemView(itemView)">
                                Edit
                            </button>
                            <button mat-raised-button
                                    color="warn"
                                    (click)="onDeleteStoreItemView(itemView)">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="store-item-view-col-2">
                        <div class="store-item"
                             *ngFor="let item of itemView.store_items">
                            <div class="store-item-row-1">

                                <ng-container *ngIf="item.item">
                                    <app-item-icon [item]="item.item"></app-item-icon>

                                    <span class="store-item-name">
                                        {{ item.item.name }}
                                    </span>
                                </ng-container>

                                <span>
                                    {{ item.sc }} sc
                                </span>

                                <button mat-raised-button
                                        (click)="onEditStoreItem(item, itemView)">
                                    Edit
                                </button>
                                <button mat-raised-button
                                        color="warn"
                                        (click)="onDeleteStoreItem(item, itemView)">
                                    Delete
                                </button>
                            </div>
                            <div>
                                <mat-chip-list>
                                    <mat-chip class="store-item-category-chip"
                                              [ngClass]="{
                                                   'store-category-tag-time': c.type == 0,
                                                   'store-category-tag-stats': c.type == 1,
                                                   'store-category-tag-slot': c.type == 2,
                                                   'store-category-tag-designer': c.type == 3
                                                }"
                                              *ngFor="let c of item.categories">
                                        {{c.name}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>

                        <div class="store-item-buttons">
                            <button mat-raised-button
                                    (click)="onAddStoreItem(itemView)">
                                Add Item
                            </button>
                            <button mat-raised-button
                                    (click)="onCreateStoreItemSet(itemView)">
                                Create Set
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <mat-paginator [hidePageSize]="true"
                       [pageIndex]="page.number"
                       [length]="page.totalElements"
                       [pageSize]="page.size"
                       (page)="onPageChange($event)">
        </mat-paginator>
    </ng-container>

    <div class="top-ribbon">
        <button mat-raised-button
                (click)="onCreateStoreItemView()">
            Create Item
        </button>

        <button mat-raised-button
                (click)="onCreateItemCategory()">
            Create Item Category
        </button>
    </div>

</app-page-loader>