@import "styles.scss";

.top-ribbon {
   display: flex;
   justify-content: flex-end;
   padding: 10px;
}

.store-item-view-content {   
   display: flex
}

.store-item-buttons {
   display: flex;
   justify-content: flex-end;
}

.store-item-view-edition-layout {
   display: flex;
   justify-content: center;

   & > * {
      margin: 5px;
   }
}

.store-item-image-preview {
   width: 300px;
   height: 200px;
   background-size: 300px auto;
   background-position: center;
   border: 1px solid black;
   box-sizing: border-box;
   background-repeat: no-repeat;
}