:host {
   display: block;
   max-width: 290px;
}

.ab-state-title {
   display: flex;
   margin-bottom: 10px;
}

.ab-state-icon {
   margin-right: 3px;
}

.ab-state-name{
   font-weight: 550;
   font-size: 1.2em;
}

.ab-state-effect-title {
   font-weight: 550;
   font-size: 1.1em;
}
.ab-state-effects {
   margin: 10px 0;
    
   & > div {
      margin: 3px 0;
   }
}

.ab-state-info {
   margin-top: 10px;
}