<mat-form-field>
    <mat-label>Enhancement</mat-label>
    <mat-select (selectionChange)="onEnhancementChanged($event)"
                [value]="defaultValue">
        <mat-option *ngFor="let i of enhancementsUpgrade"
                    [value]="i">+{{i}}
        </mat-option>
    </mat-select>
</mat-form-field>