<mat-table [dataSource]="dataSource"
           multiTemplateDataRows>
    <ng-container matColumnDef="icon">
        <mat-header-cell class="table-icon-cell"
                         *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell class="table-icon-cell"
                  *matCellDef="let skill">
            <app-active-skill-icon [skill]="skill"></app-active-skill-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell class="table-name-header"
                         *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="table-name-cell"
                  *matCellDef="let skill">
            {{skill.name}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
        <mat-header-cell *matHeaderCellDef>Power</mat-header-cell>
        <mat-cell class="table-power-cell"
                  *matCellDef="let skill">
            <div *ngIf="skill.skill_type == 0 && skill.min_dmg > 0">
                {{skill.min_dmg}}~{{skill.max_dmg}}
                <span *ngIf="skill.skill_empowerment.power >= 0"
                      class="empowerment-text">
                    (+{{skill.empowerment.power[skill.skill_empowerment.power]}})
                </span>
            </div>
            <div *ngIf="skill.skill_type == 1 && skill.min_mdmg > 0">
                {{skill.min_mdmg}}~{{skill.max_mdmg}}
                <span *ngIf="skill.skill_empowerment.power >= 0"
                      class="empowerment-text">
                    (+{{skill.empowerment.power[skill.skill_empowerment.power]}})
                </span>
            </div>
            <div *ngIf="skill.hasHealingEffect">
                {{skill.healingEffect.effect_value}}HP
                <span *ngIf="skill.skill_empowerment.power >= 0"
                      class="empowerment-text">
                    (+{{skill.empowerment.power[skill.skill_empowerment.power]}}HP)
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sp">
        <mat-header-cell *matHeaderCellDef>SP</mat-header-cell>
        <mat-cell class="table-sp-cell"
                  *matCellDef="let skill">
            <ng-container *ngIf="skill.sp > 0">
                {{skill.sp}}
                <span *ngIf="skill.skill_empowerment.sp >= 0"
                      class="empowerment-text">
                    (-{{skill.empowerment.sp[skill.skill_empowerment.sp] }})
                </span>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
        <mat-cell class="table-duration-cell"
                  *matCellDef="let skill">
            <ng-container *ngIf="skill.ab_states.length > 0">
                <ng-container *ngIf="skill.ab_states[0].sub_ab_state as sas">
                    <ng-container *ngIf="sas.duration > 0">
                        {{skill.ab_states[0].sub_ab_state.duration | fiestaSecondsTime : '1.1-1'}}
                        <span *ngIf="skill.skill_empowerment.duration >= 0"
                              class="empowerment-text">
                            (+{{skill.empowerment.duration[skill.skill_empowerment.duration] | fiestaSecondsTime : '1.1-1' }})
                        </span>
                    </ng-container>
                </ng-container>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cooldown">
        <mat-header-cell *matHeaderCellDef>Cooldown</mat-header-cell>
        <mat-cell class="table-cooldown-cell"
                  *matCellDef="let skill">
            <div>{{skill.cooldown | fiestaSecondsTime : '1.1-1'}}</div>
            <div *ngIf="skill.skill_empowerment.cooldown >= 0"
                 class="empowerment-text">
                (-{{skill.empowerment.cooldown[skill.skill_empowerment.cooldown] | fiestaSecondsTime : '1.1-1' }})
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
        <mat-cell class="mat-sub-row"
                  *matCellDef="let skill">
            <div *ngIf="skill.effects.length != 0">
                <div *ngFor="let effect of skill.effects">
                    {{ effect | additionalSkillEffect }}
                </div>
            </div>

            <div class="sub-ab-state-effects"
                 *ngIf="skill.ab_states.length > 0">
                <div *ngFor="let ab_state of skill.ab_states"
                     class="ab-state-layout">
                    <app-ab-state class="ab-state"
                                  [abState]="ab_state">

                    </app-ab-state>

                    <div *ngIf="ab_state.party_ab_state.length > 0"
                         class="party-member-ab-state-layout">
                        <div *ngFor="let party_abState of ab_state.party_ab_state; let i = index"
                             class="ab-state">
                            <div class="party-member-ab-state-title">{{i + 1}} party members</div>
                            <app-ab-state [abState]="party_abState"></app-ab-state>
                        </div>
                    </div>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.clickable-row]="isRowClickable(row)"
             (click)="onRowClick(row)"></mat-row>
    <mat-row class="detail-row"
             *matRowDef="let row; columns: ['view']"
             [@detailExpand]="(expandedRows.indexOf(row, 0) > -1) ? 'expanded' : 'collapsed'"></mat-row>
</mat-table>