
.header {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.filter-col {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 10px;
}

.filter-row {
   display: flex;
   flex-wrap: wrap;
}