:host {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.dialog-content {
   flex: 1;
}

.search-input {
   display: flex;
   flex-direction: column;
}

.option {
   display: flex;
   align-items: center;

   & > * {
      margin-right: 5px;
   }
}

.store-category-time {
   color: #c7ca26 !important;
}

.store-category-stats {
   color: #197dac !important;
}

.store-category-slot {
   color: #19ac51 !important;
}

.store-category-designer {
   color: #bb1a3d !important;
}

.set-div {
   display: flex;
   justify-content: center;
}